* {
    margin: 0;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body {
    margin-top: 16px;
    margin-left: 10%;
    margin-right: 10%;
}

#form_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#form {
    width: 100%;
}

#form > input, #form > button {
    font-size: 26px;
    margin-bottom: 8px;
    width: 100%;
}